/*début header*/

$black:black;

#head {
    padding-top: 25px;

    #medias-head {
        display: flex;
        justify-content: flex-end;
    }

    #medias-head li {
        list-style-type: none;
        padding: 10px;
    }

    #medias-head li i {
        color: $black;

        &:hover {
            color: $gris;
        }
    }

    #nav {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(242, 242, 242);
        margin: 10px 0;
    }

    #nav li {
        list-style-type: none;
        padding: 0 20px;

        &:hover {
            transform: scale(1.2);
            border-bottom: red;
        }
    }

    #nav li a {
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;

        &:hover {
            color: $gris;
            transition-duration: 0.5s;
            text-decoration: none;
        }
    }
}


/*============ fin header ================*/


/* début footer one*/

#footer-one h2 {
    display: none;
}

#footer-one h5 {
    color: $gris;
    font-weight: extra-bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#footer-one article {
    &:hover {
        transform: rotate(1deg);
    }
}

#footer-one img {
    max-width: 100%;
    /*l'image occupe 100% de la place disponible du parent*/
}

#gallery-instagram img {
    max-width: 100%;
    height: 120px;
}

#footer-one li {
    list-style-type: none;
}

#footer-one li a {
    color: white;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;

    &:hover {
        text-decoration: none;
        color: $gris !important;
        transition-duration: 0.4s;
    }
}

#footer-one .cacher {
    overflow: hidden;
    width: 100px;
    height: 100px;
}

#posts a {
    color: red;
    font-weight: 900;

    &:hover {
        text-decoration: none;
        color: $gris !important;
        transition-duration: 0.4s;
    }
}


/*================= fin footer one ==================*/


/* début footer two*/

#footer-two h2 {
    display: none;
}

#footer-two {
    background-color: rgb(48, 51, 54);
}

#medias-footer li {
    list-style-type: none;
    margin-right: 25px;
    width: 25px;

    &:hover a {
        background-color: white;
    }
}

#medias-footer li a {
    width: 100%;
    padding: 10px;
    background-color: rgb(52, 58, 64);
    border-radius: 50%;

    &:hover i {
        color: black;
    }
}

#medias-footer li i {
    color: white;
    width: 100%;
}

#up {
    /*position fixe de la flèche sur tout la page placé en bas à droite de la page*/
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 35px;
    color: rgb(74, 75, 76);
    padding: 3px;
}


/* fin footer two*/


/*----------------------single page---------------------*/
#cinq {
    padding-top: 100px;
}

#single-page-head {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    background-color: white;





    #inbox-email {
        display: flex;
        height: 40px;
        align-items: baseline;

        p {
            display: inline-block;
            margin: 0px 20px;
        }

        input {
            width: 150px;
        }
    }

    #search-bar {
        width: 50px;
        display: flex;
        margin-right: 20px;
        align-items: center;

        img {
            width: 100%;
            padding-right: 10px;
        }

        a {
            font-size: 25px;
            color: black;
        }
    }
}


/*---------------navigation----------------*/
#section-burger {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
}

.btn-navigation {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;

    .barre {
        width: 30px;
        height: 3px;
        background-color: black;
        z-index: 3;
        margin-top: 5px;
        border-radius: 5px 5px 5px 5px;
    }
}

.navigation-single-page {
    position: fixe;
    left: 0;
    padding: 30px;
    background-color: #333;
    width: 20%;
    height: 800px;
    transform: translateX(-100%);
    transition: transform .6s ease-in-out;

    ul {
        li {
            list-style-type: none;
            margin: 20px 0;

            a {
                text-transform: uppercase;
                color: white;
                font-weight: 800;
                letter-spacing: 0.2em;

            }
        }
    }
}

.navigation-single-page.isOpen {
    transform: translateX(0%);
}

/* ============ fin #single-page-head ============*/