/*section un*/



#un h2 {
    text-align: center;
}

#un h3 {
    font-size: 14px;
}

#un .legend {
    font-size: 5px;
    color: green;
    margin-top: 5px;
}

#un .bold {
    font-weight: bold;
}

#un .test {
    border: solid black;
}

#un img {
    width: 100%;


}

#un .red {

    color: #ff8364;
}

#un font {
    font-size: 16px;
}

#un .center {
    text-align: center;
}

/*fin section un*/