$title:#ff8364;

/*--------------- Début de section 3 --------------- */

section#trois {

    h3 {
        font-family: 'Open-sans';
        font-weight: 900;
        text-align: center;
    }

    .cacher {
        display: none;
    }

    figure#dix {
        overflow: hidden;
        height: 238px;
        position: relative;

        img {

            position: absolute;
            top: -65px;

        }
    }

    figure#quinze {
        overflow: hidden;
        height: 238px;
        position: relative;

        img {

            position: absolute;

        }
    }

    #titre-deux {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 900;
        padding: 15px;

        &:after {
            content: '';
            color: #f2f2f2;
            border-top: 2px solid;
            flex: 1 0;
            margin-left: 10px;

        }

        text-transform: uppercase;
    }

    article {

        .redtitle {
            margin-top: 15px;
            color: $title;
            text-transform: uppercase;


            font: {
                size: 0.7rem;
                weight: 900;
                family: 'Open Sans';
            }
        }

        .ask {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 1rem;
        }

        p {
            color: #939393;
            text-align: center;
            font-family: 'Crimson-Text';

        }
    }
}

/*--------------- Fin de section 3 --------------- */
/*--------------- Début de section 6 --------------- */
section#six {

    .container.un {
        /* le div des réseaux sociaux*/

        width: 600px;

        .linksocial {
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            width: 100px;
            height: 40px;

            &:hover {
                text-decoration: none;
                color: white;
            }


            strong {
                text-transform: uppercase;
                font-size: 12px;
                margin-top: 2px;
            }
        }

        #commts {
            @extend .linksocial;
            background-color: rgb(184, 182, 182);
        }

        #fb {
            @extend .linksocial;
            background-color: #8c92cf;

        }

        #tw {
            @extend .linksocial;
            background-color: #50d0f7;
        }

        #pint {
            @extend .linksocial;
            background-color: #c8232c;
        }

        p {
            margin-top: 20%;
        }




    }

    .container.deux {

        #subs {
            margin-top: 100px;
            text-align: center;
        }

        #mail {
            ::placeholder {
                color: black;
                padding-left: 3px;
            }

            margin-left: 30%;
            width: 450px;

            input {
                width: 80%;
                height: 60px;
            }

            button {
                width: 20%;
                background-color: $title;
                border: none;
                text-transform: uppercase;
                margin-right: 0;
                font-weight: bold;
                color: white;
            }
        }
    }
}

/*Fin de section 6*/