$colorcirle: #ff8262;
$hcirle: 25px;
$wcircle: 25px;
$ccolor: #fff;
$cfonts: 20px;
$crotate: -20deg;
$title: #ff8364;
.circle-text {
    display: table-cell;
    height: $hcirle;
    /*change this and the width for the size of your initial circle*/
    width: $wcircle;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    padding: 30px;
    /*make it pretty*/
    background: $colorcirle;
    color: $ccolor;
    font: $cfonts "josefin sans", arial;
    transform: rotate($crotate);
    text-transform: uppercase;
    /*change this for font-size and font-family*/
}

.titregenerique {
    color: black;
    font-weight: 900;
    text-transform: uppercase;
}

#titre {
    @extend .titregenerique;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    &:after {
        content: '';
        color: #f2f2f2;
        border-top: 2px solid;
        flex: 1 0;
        margin-left: 14px;
    }
}

.share {
    color: #939393;
    &:hover {
        text-decoration: none;
        color: #939393;
    }
}

.blockimg {
    padding-left: 0;
}

article {
    .redtitle {
        color: $title;
        font-weight: bold;
    }
    #ask {
        font-weight: 900;
        text-transform: uppercase;
        // font-family: 'Open Sans', sans-serif;
        font-size: 1.3rem;
        color: black;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
    p {
        color: #939393;
    }
}

.linksocial {
    text-decoration: none;
    color: white;
    display: block;
    &:hover {
        text-decoration: none;
        color: white;
    }
    strong {
        float: right;
        text-transform: uppercase;
        font-size: 12px;
    }
    span {
        font-size: 12px;
        font-weight: bold;
    }
    margin: 2px;
    padding: 10px;
}

#fb {
    @extend .linksocial;
    background-color: #8c92cf;
    margin-top: 129px;
}

#tw {
    @extend .linksocial;
    background-color: #50d0f7;
}

#inst {
    @extend .linksocial;
    background-color: #6f96bf;
}

#share {
    padding-top: 40px;
    padding-bottom: 40px;
    .sharec {
        width: 30px;
        height: 30px;
        color: white;
        display: inline-grid;
        text-align: center;
        align-items: center;
        border-radius: 50%;
        &:hover {
            text-decoration: none;
            color: white;
        }
    }
    img {
        width: 30px;
    }
    #feb {
        background-color: #8c92cf;
    }
    #tew {
        background-color: #50d0f7;
    }
    #pen {
        background-color: #e60023;
    }
    p {
        display: inline-block;
        font-size: 12px;
    }
    span {
        margin: 10px;
    }
    #right {
        float: inline-end;
    }
    #commts {
        display: inline-block;
        color: #fff;
        background-color: black;
        padding: 4px;
        margin: 0 10px 0 10px;
        font-size: 12px;
        border-radius: 6%;
        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}