@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
    /* font pour les paragraphes*/
}

@font-face {
    font-family: 'Crimson-Text';
    src: url('../fonts/Crimson-Text/CrimsonText-Regular.ttf');
    /* font pour les titres*/
}

body {
    /*mise en place de la police et interlignage*/
    font-family: 'Open-sans';
}


@import 'amaury.scss';
@import 'anso.scss';

.icone {
    width: 20px;
    height: 20px;
    border: radius 50%;
    display: block;
}