/*section un*/

.bg {
    background-color: aqua;
    border: 2px solid black;
}

h2 {
    text-align: center;
}

.legend {
    font-size: 5px;
    color: red;
    margin-top: 5px;
}

.bold {
    font-weight: bold;
}

.test {
    border: solid black;
}

img {
    width: 100%;


}

.red {

    color: #ff8364;
}

font {
    font-size: 16px;
}

.center {
    text-align: center;
}

/*fin section un*/
/*debut section 5*/

.icone {
    width: 20px;
    height: 20px;
    border: radius 50%;
    display: block;
}