@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/Open-Sans/OpenSans-Regular.ttf');
    /* font pour les paragraphes*/
}

@font-face {
    font-family: 'Crimson-Text';
    src: url('../fonts/Crimson-Text/CrimsonText-Regular.ttf');
    /* font pour les titres*/
}

body {
    /*mise en place de la police et interlignage*/
    font-family: 'Open-sans';
}

/*début header*/
#head {
    padding-top: 25px;
}

#medias-head {
    display: flex;
    justify-content: flex-end;
}

#medias-head li {
    list-style-type: none;
    padding: 10px;
}

#medias-head li i {
    color: black;
}

#nav {
    display: flex;
    justify-content: flex-end;
}

#nav li {
    list-style-type: none;
    padding: 10px;
}

#nav li a {
    color: black;
}

/*fin header*/

/* début footer one*/
#footer-one img {
    width: 100%;
    /*l'image occupe 100% de la place disponible du parent*/
}

#footer-one li {
    list-style-type: none;
}

/* fin footer one*/

/* début footer two*/
#footer-two {
    background-color: rgb(48, 51, 54);
}

#medias-footer li {
    list-style-type: none;
    margin-right: 25px;
    width: 25px;
}

#medias-footer li a {
    width: 100%;
    padding: 10px;
    background-color: rgb(52, 58, 64);
    border-radius: 50%;

    &:hover {
        background-color: green;
    }
}



#medias-footer li i {
    color: white;
    width: 100%;
}

#up {
    /*position fixe de la flèche sur tout la page placé en bas à droite de la page*/
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 35px;
    color: rgb(52, 58, 64);
    padding: 3px;
}

#up:hover {
    color: black;
}

/* fin footer two*/


/*----------------------single page---------------------*/
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;

}

@import 'anso.scss';

.icone {
    width: 20px;
    height: 20px;
    border: radius 50%;
    display: block;
}