@charset "UTF-8";
/*--------------- Début de section 3 --------------- */
#trois .cacher {
  display: none;
}

#trois figure {
  overflow: hidden;
  height: 238px;
  position: relative;
}

#trois figure img {
  position: absolute;
  top: -65px;
}

section#trois #titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
}

section#trois #titre:after {
  content: '';
  color: #f2f2f2;
  border-top: 2px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-left: 14px;
}

section#trois section.row {
  margin-top: 20px;
}

section#trois section.row article * {
  text-align: center;
}

section#trois section.row article img {
  margin-bottom: 10px;
}

section#trois section.row article .redtitle {
  color: #ff8364;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}

section#trois section.row article .ask {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1rem;
}

section#trois section.row article p {
  color: #939393;
}

/*--------------- Fin de section 3 --------------- */
/*--------------- Début de section 6 --------------- */
/*---------------fin de Section 6 --------------- */
/* ---------------------------------------------- */
