@charset "UTF-8";
/*--------------- Début de section 3 --------------- */
section#trois h3 {
  font-family: 'Open-sans';
  font-weight: 900;
  text-align: center;
}

section#trois .cacher {
  display: none;
}

section#trois figure#dix {
  overflow: hidden;
  height: 232px;
  position: relative;
}

section#trois figure#dix img {
  position: absolute;
  top: -65px;
}

section#trois figure#quinze {
  overflow: hidden;
  height: 238px;
  position: relative;
}

section#trois figure#quinze img {
  position: absolute;
}

section#trois #titre-deux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 900;
  padding: 15px;
  text-transform: uppercase;
}

section#trois #titre-deux:after {
  content: '';
  color: #f2f2f2;
  border-top: 2px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-left: 10px;
}

section#trois article .redtitle {
  margin-top: 15px;
  color: #ff8364;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  font-family: 'Open Sans';
}

section#trois article .ask {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1rem;
}

section#trois article p {
  color: #939393;
  text-align: center;
  font-family: 'Crimson-Text';
}

/*--------------- Fin de section 3 --------------- */
/*--------------- Début de section 6 --------------- */
section#six .container.un {
  /* le div des réseaux sociaux*/
  width: 600px;
}

section#six .container.un #commts {
  background-color: #b8b6b6;
}

section#six .container.un #fb {
  background-color: #8c92cf;
}

section#six .container.un #tw {
  background-color: #50d0f7;
}

section#six .container.un #pint {
  background-color: #c8232c;
}

section#six .container.un .col-md {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#six .container.un .linksocial, section#six .container.un #commts, section#six .container.un #fb, section#six .container.un #tw, section#six .container.un #pint {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

section#six .container.un .linksocial:hover, section#six .container.un #commts:hover, section#six .container.un #fb:hover, section#six .container.un #tw:hover, section#six .container.un #pint:hover {
  text-decoration: none;
  color: white;
}

section#six .container.un .linksocial strong, section#six .container.un #commts strong, section#six .container.un #fb strong, section#six .container.un #tw strong, section#six .container.un #pint strong {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 2px;
}

section#six .container.deux #subs {
  margin-top: 100px;
  text-align: center;
}

section#six .container.deux #mail {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 600px;
}

section#six .container.deux #mail ::-webkit-input-placeholder {
  color: black;
  padding-left: 3px;
}

section#six .container.deux #mail :-ms-input-placeholder {
  color: black;
  padding-left: 3px;
}

section#six .container.deux #mail ::-ms-input-placeholder {
  color: black;
  padding-left: 3px;
}

section#six .container.deux #mail ::placeholder {
  color: black;
  padding-left: 3px;
}

section#six .container.deux #mail button {
  background-color: #ff8364;
  border: none;
  text-transform: uppercase;
  margin-right: 0;
  font-weight: bold;
  color: white;
}

section#six .home-newsletter {
  margin-top: 40px;
}

section#six .home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

section#six .home-newsletter .single .input-group.formulaire {
  width: 70%;
  margin: 0 auto;
}

section#six .home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding: 20px;
}

section#six .home-newsletter .single p {
  padding: 20px;
}

section#six .home-newsletter .single .form-control {
  height: 50px;
  border-color: #c0bebe;
  border-right: none;
  border-radius: 0 0 0 0;
}

section#six .home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 0 0 0;
  background: #243c4f;
  background-color: #ff8364;
  border: none;
  text-transform: uppercase;
  margin-right: 0;
  font-weight: bold;
  color: white;
}

/*Fin de section 6*/
/*============ Début section 7 =========*/
section#sept {
  padding: 0px;
}

section#sept .single-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

section#sept .single-nav {
  margin-left: 0px;
  display: block;
  overflow: hidden;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
}

section#sept .single-nav a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

section#sept .single-nav .nav-left {
  border-right: 1px solid #cecccc;
}

section#sept .single-nav h3 {
  text-transform: uppercase;
}

section#sept .single-nav .nav-right {
  border-left: 1px solid #cecccc;
}

section#sept .single-nav .nav-arrow {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 50px;
}

section#sept .single-nav .nav-arrow i {
  color: grey;
}

section#sept .single-nav .nav-arrow span {
  color: grey;
}

section#sept #farmer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

section#sept #farmer .logo img {
  height: 140px;
  width: 140px;
  max-width: 100%;
  height: auto;
}

section#sept #farmer h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

section#sept #farmer .farmer-texte {
  font-size: 1rem;
  color: grey;
}

/*============ Fin section 7 =========*/
