.circle-text {
  display: table-cell;
  height: 25px;
  /*change this and the width for the size of your initial circle*/
  width: 25px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  padding: 30px;
  /*make it pretty*/
  background: #ff8262;
  color: #fff;
  font: 20px "josefin sans", arial;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  text-transform: uppercase;
  /*change this for font-size and font-family*/
}

#test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#test:after {
  content: '';
  border-top: 2px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-left: 14px;
}
