@charset "UTF-8";
@font-face {
  font-family: 'Open-sans';
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf");
  /* font pour les paragraphes*/
}

@font-face {
  font-family: 'Crimson-Text';
  src: url("../fonts/Crimson-Text/CrimsonText-Regular.ttf");
  /* font pour les titres*/
}

body {
  /*mise en place de la police et interlignage*/
  font-family: 'Open-sans';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

img:hover {
  opacity: 0.8;
}

/*début header*/
#head {
  padding-top: 25px;
}

#head #medias-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#head #medias-head li {
  list-style-type: none;
  padding: 10px;
}

#head #medias-head li i {
  color: black;
}

#head #medias-head li i:hover {
  color: grey;
}

#head #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
  margin: 10px 0;
}

#head #nav li {
  list-style-type: none;
  padding: 0 20px;
}

#head #nav li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-bottom: red;
}

#head #nav li a {
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

#head #nav li a:hover {
  color: grey;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-decoration: none;
}

/*============ fin header ================*/
/* début footer one*/
#footer-one h2 {
  display: none;
}

#footer-one h5 {
  color: grey;
  font-weight: extra-bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#footer-one article:hover {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#footer-one img {
  max-width: 100%;
  /*l'image occupe 100% de la place disponible du parent*/
}

#gallery-instagram img {
  max-width: 100%;
  height: 100px;
}

#footer-one li {
  list-style-type: none;
}

#footer-one li a {
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

#footer-one li a:hover {
  text-decoration: none;
  color: grey !important;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#footer-one .cacher {
  overflow: hidden;
  width: 100px;
  height: 100px;
}

#posts a {
  color: red;
  font-weight: 900;
}

#posts a:hover {
  text-decoration: none;
  color: grey !important;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/*================= fin footer one ==================*/
/* début footer two*/
#footer-two h2 {
  display: none;
}

#footer-two {
  background-color: #303336;
}

#medias-footer li {
  list-style-type: none;
  margin-right: 25px;
  width: 25px;
}

#medias-footer li:hover a {
  background-color: white;
}

#medias-footer li a {
  width: 100%;
  padding: 10px;
  background-color: #343a40;
  border-radius: 50%;
}

#medias-footer li a:hover i {
  color: black;
}

#medias-footer li i {
  color: white;
  width: 100%;
}

#up {
  /*position fixe de la flèche sur tout la page placé en bas à droite de la page*/
  position: fixed;
  bottom: 20px;
  right: 15px;
  font-size: 35px;
  color: #4a4b4c;
  padding: 3px;
}

/* fin footer two*/
/*----------------------single page---------------------*/
#single-page-head {
  width: 100%;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#single-page-head .bar1,
#single-page-head .bar2,
#single-page-head .bar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#single-page-head #menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#single-page-head #inbox-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#single-page-head #inbox-email p {
  display: inline-block;
  margin: 0px 20px;
}

#single-page-head #inbox-email input {
  width: 150px;
}

#single-page-head #search-bar {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-page-head #search-bar img {
  width: 100%;
  padding-right: 10px;
}

#single-page-head #search-bar a {
  font-size: 25px;
  color: black;
}

/* ============ fin #single-page-head ============*/
/*section un*/
html,
body {
  width: 100%;
  height: 100%;
}

#un h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: "Open-sans";
  margin-top: -8px;
  color: black;
}

#un .cacher {
  display: none;
}

#un h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  color: black;
}

#un .legend {
  font-size: 5px;
  margin-top: 5px;
}

#un .bold {
  font-weight: bold;
}

#un .test {
  border: solid black;
}

#un img {
  width: 100%;
}

#un .red {
  color: #ff8364;
  font-size: 5;
}

#un font {
  font-size: 16px;
}

#un .center {
  text-align: center;
}

/*fin section 1*/
/*====debut section 5=======*/
#cinq .img2 {
  width: 750px !important;
  height: 750px;
  position: absolute;
}

#cinq .img3 {
  left: 847.328px;
  top: 206px;
  width: 300px;
  margin-left: 2px;
  padding: 0px;
  z-index: 0;
  position: fixed;
}

#cinq h3 {
  height: 200px;
  color: green;
}

/* =============  debut section 5 ===============*/
.boite {
  border: 1px solid green;
}

#cinq img {
  max-width: 100%;
}

#cinq ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cinq ol li {
  padding: 0 20px;
}

#medias-follow-us li {
  list-style-type: none;
  padding: 0 5px;
  margin: 0 10px;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#medias-follow-us li a {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#medias-follow-us li a i {
  color: white;
}

/* section 5*/
.boite {
  border: 1px solid green;
}

#cinq img {
  max-width: 100%;
}

#cinq ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cinq ol li {
  padding: 0 20px;
}

#medias-follow-us li {
  list-style-type: none;
  padding: 0 5px;
  margin: 0 10px;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#medias-follow-us li a {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#medias-follow-us li a i {
  color: white;
}

/*--------------- Début de section 3 --------------- */
section#trois h3 {
  font-family: 'Open-sans';
  font-weight: 900;
  text-align: center;
}

section#trois .cacher {
  display: none;
}

section#trois figure#dix {
  overflow: hidden;
  height: 232px;
  position: relative;
}

section#trois figure#dix img {
  position: absolute;
  top: -65px;
}

section#trois figure#quinze {
  overflow: hidden;
  height: 238px;
  position: relative;
}

section#trois figure#quinze img {
  position: absolute;
}

section#trois #titre-deux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: 900;
  padding: 15px;
  text-transform: uppercase;
}

section#trois #titre-deux:after {
  content: '';
  color: #f2f2f2;
  border-top: 2px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-left: 10px;
}

section#trois article .redtitle {
  margin-top: 15px;
  color: #ff8364;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  font-family: 'Open Sans';
}

section#trois article .ask {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1rem;
}

section#trois article p {
  color: #939393;
  text-align: center;
  font-family: 'Crimson-Text';
}

/*--------------- Fin de section 3 --------------- */
/*--------------- Début de section 6 --------------- */
/*---------------fin de Section 6 --------------- */
/* ---------------------------------------------- */
.circle-text {
  display: table-cell;
  height: 25px;
  /*change this and the width for the size of your initial circle*/
  width: 25px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  padding: 30px;
  /*make it pretty*/
  background: #ff8262;
  color: #fff;
  font: 20px "josefin sans", arial;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  text-transform: uppercase;
  /*change this for font-size and font-family*/
}

.titregenerique, #titre {
  color: black;
  font-weight: 900;
  text-transform: uppercase;
}

#titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#titre:after {
  content: '';
  color: #f2f2f2;
  border-top: 2px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-left: 14px;
}

.linkp {
  color: #bbc8ac !important;
}

.share {
  color: #dbe3f8;
}

.share:hover {
  text-decoration: none;
  color: #939393;
}

.page-link:hover {
  background-color: #1d2124;
}

.blockimg {
  padding-left: 0;
}

article .redtitle {
  color: #ff8364;
  font-weight: bold;
}

article #ask {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: black;
}

article #ask:hover {
  color: black;
  text-decoration: none;
}

article h3 {
  color: #4b4f54;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}

article p {
  color: #939393;
}

#deux .cacher {
  display: none;
}

.linksocial, #fb, #tw, #inst, #comm {
  text-decoration: none;
  color: white;
  display: block;
  margin: 2px;
  padding: 10px;
}

.linksocial:hover, #fb:hover, #tw:hover, #inst:hover, #comm:hover {
  text-decoration: none;
  color: white;
}

.linksocial strong, #fb strong, #tw strong, #inst strong, #comm strong {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
}

.linksocial span, #fb span, #tw span, #inst span, #comm span {
  font-size: 12px;
  font-weight: bold;
}

#fb {
  background-color: #8c92cf;
  margin-top: 129px;
}

#tw {
  background-color: #50d0f7;
}

#inst {
  background-color: #6f96bf;
}

#comm {
  background-color: black;
}

/*---------------navigation----------------*/
.btn-navigation {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.btn-navigation .barre {
  width: 30px;
  height: 3px;
  background-color: black;
  z-index: 200;
  margin-top: 5px;
  border-radius: 5px 5px 5px 5px;
}

.navigation-single-page {
  position: fixe;
  left: 0;
  padding: 30px;
  background-color: #333;
  width: 20%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.navigation-single-page ul li {
  list-style-type: none;
  margin: 20px 0;
}

.navigation-single-page ul li a {
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.navigation-single-page.isOpen {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=style.css.map */